<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title></title>
  <link rel="stylesheet" href="/css/neon.css" />
  <link href="https://fonts.googleapis.com/css?family=Sacramento:400" rel="stylesheet" type="text/css" />
</head>

<body>
  {{>navbar}}
  <h1 class="neonText">
    Incorrect Password
  </h1>
</body>

</html>