<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <style>
    ul{
      width: 100vw;
      height: 7vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    li{
      list-style: none;
      font-weight: bold;
  font-size: 20px;
    }
  </style>
</head>
<body>
<ul>
  <li >Options</li>
  <li>Options</li>
  <li>Options</li>
  <li>Options</li>
</ul>  
</body>
</html>