<header>
  <div class="logo">CaRs</div>
  <nav class="navbar">
    <div class="icons">
      <img src="https://www.svgrepo.com/show/6860/right-align-text-option.svg" alt="Show menu" class="show-menu"
        height="42px" width="37px" />
      <img src="https://icons.veryicon.com/png/o/miscellaneous/medium-thin-linear-icon/cross-23.png" alt="Hide Menu"
        class="hide-menu display-none" height="42px" width="37px" />
    </div>
    <ul class="navbar-ul">
      <li><a href="#" focus="true">Home</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <div class="login_and_signup">
    <a href="#" class="login">LogIn</a>
    <a href="#" class="signup">SignUp</a>
    <a href="#" class="admin">Admin</a>
  </div>
</header>