<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
</head>
<body>
  {{>navbar}}
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad provident debitis dolor atque sapiente deleniti et corporis! Obcaecati, incidunt quasi.</h1> 
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex minima illo suscipit vel sequi quo, mollitia pariatur quia cupiditate quas totam saepe autem, tempore ea doloribus, eaque illum? At, nam.
</p> 
</body>
</html>